<h1> Breaking News with Scurrey </h1>
<img src="https://www.relisto.com/wp-content/uploads/2017/10/breaking-news.jpg">
<h2>  <%= link_to 'New Blog Post', new_article_path %> </h2>
<table>
  <tr>
    <th> Title </th>
    <th> Author </th>
    <th> Text </th>
    <th> Date </th>
    <th> More Options</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.author %></td>
      <td><%= article.text %></td>
      <td><%= article.created_at %></td>
      <td>
        <%= link_to 'Show', article_path(article) %>
        <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete?'}
          %>
      </td>
    </tr>
  <% end %>
 </table>

 <h2> <%= link_to 'Article Comments', answers_path %> </h2>


