<div class="form">
<h4>
  <strong> Title: </strong>
  <%= @article.title %>
</h4>
<p>
  <strong> Author: </strong>
  <%= @article.author %>
</p>
<p>
  <strong> Text: </strong>
  <%= @article.text %>
</p>
<p>
  <strong> Time: </strong>
  <%= @article.created_at %>
</p>

<%= link_to 'Post a Comment', new_answer_path %>

</div>
<h4> <%= link_to 'Back', articles_path %> </h4>

