<div class="form">

<p>
  <strong>Title:</strong>
  <%= @answer.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @answer.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @answer.body %>
</p>
</div>
<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
